@model ProductDetailsModel

<div id="book-time" class="book-main">
    <h3>@T("ShoppingCart.AddToCart"): @Model.Name</h3>
    <br />
    <div>
        <div class="column-left">
            <div id="nav"></div>
        </div>
        <div class="column-main">
            <div class="toolbar">Available time slots:</div>
            <div id="calendar"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var nav = new DayPilot.Navigator("nav");
    nav.selectMode = "week";
    nav.showMonths = 2;
    nav.skipMonths = 1;
    nav.onTimeRangeSelected = function (args) {
        loadEvents(args.start.firstDayOfWeek(DayPilot.Locale.find(nav.locale).weekStarts), args.start.addDays(7));
    };
    nav.init();

    var calendar = new DayPilot.Calendar("calendar");
    calendar.viewType = "Week";
    calendar.timeRangeSelectedHandling = "Disabled";
    calendar.eventMoveHandling = "Disabled";
    calendar.eventResizeHandling = "Disabled";
    calendar.bubble = null;
    calendar.businessBeginsHour = 9;
    calendar.businessEndsHour = 18;
    calendar.dayBeginsHour = 9;
    calendar.dayEndsHour = 18;

    calendar.onBeforeEventRender = function (args) {
        if (!args.data.tags) {
            return;
        }
        console.log(args.data);

        switch (args.data.tags.status) {
            case "Free":
                args.data.barColor = "green";
                args.data.html = "Available<br/>" + args.data.tags.doctor;
                args.data.toolTip = "Click to request this time slot";
                break;
            case "Waiting":
                args.data.barColor = "orange";
                args.data.html = "Your appointment, waiting for confirmation";
                break;
            case "Confirmed":
                args.data.barColor = "#f41616";  // red
                args.data.html = "Your appointment, confirmed";
                break;
        }
    };

    calendar.onEventClick = function (args) {
        if (args.e.tag("status") !== "Free") {
            calendar.message("You can only request a new appointment in a free slot.");
            return;
        }
        console.log(args);
        var params = {
            id: args.e.id(),
        };

        $.ajax({
            url: "@Url.Action("AppointmentRequest", "Appointment")",
            type: "post",
            data: params,
            cache: false
        }).done(function (result) {
            if (result.status) {
                loadEvents();
            }
            else {

            }
        }).fail(function (result) {
            // Error
        });
    };

    calendar.init();

    loadEvents();

    function loadEvents(day) {
        var start = nav.visibleStart() > new DayPilot.Date() ? nav.visibleStart() : new DayPilot.Date();
        var params = {
            start: start.toString(),
            end: nav.visibleEnd().toString(),
            resourceId: @Model.Id
        };

        console.log(params);
        $.ajax({
            url: "@Url.Action("AvailableSlotsByCustomer", "Appointment")",
            type: "post",
            data: params,
            cache: false
        }).done(function (result) {
            if (day) {
                calendar.startDate = day;
            }
            calendar.events.list = result;
            calendar.update();

            nav.events.list = result;
            nav.update();
        }).fail(function (result) {
            // Error
        });
    }
</script>
