@model ProductModel

@inject IProductTagService productTagService

@using Nop.Core.Domain.Catalog;
@using Nop.Services.Catalog;
@using System.Text;
@using Nop.Services

@{
    //TODO move to Model
    var productTags = productTagService.GetAllProductTags();
    var productTagsSb = new StringBuilder();
    productTagsSb.Append("var initialProductTags = [");
    for (var i = 0; i < productTags.Count; i++)
    {
        var tag = productTags[i];
        productTagsSb.Append("'");
        productTagsSb.Append(JavaScriptEncoder.Default.Encode(tag.Name));
        productTagsSb.Append("'");
        if (i != productTags.Count - 1)
        {
            productTagsSb.Append(",");
        }
    }
    productTagsSb.Append("]");

    //resources for product tags input
    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");
}

<script>
    $(document).ready(function() {
        @if (!Model.IsLoggedInAsVendor)
        {
            <text>$("#@Html.IdFor(model => model.ShowOnHomepage)").click(toggleShowOnHomepage);</text>
            <text>toggleShowOnHomepage();</text>
        }
    });

    function toggleShowOnHomepage() {
        if ($('#@Html.IdFor(model => model.ShowOnHomepage)').is(':checked')) {
            $('#pnlDisplayOrder').show();
        } else {
            $('#pnlDisplayOrder').hide();
        }
    }

    //tags
    $(document).ready(function() {
        @Html.Raw(productTagsSb.ToString())
        $("#@Html.IdFor(model => model.ProductTags)").tagEditor({
            autocomplete: {
                delay: 0,
                position: { collision: 'flip' },
                source: initialProductTags
            },
            delimiter: ',',
            placeholder: '@T("Admin.Catalog.Products.Fields.ProductTags.Placeholder")'
        });
    });

    $(document).ready(function () {
        if ('@Model.Sku') {
            warningValidation('@Url.Action("SkuReservedWarning")', '@Html.NameFor(model => model.Sku)', { productId: @Model.Id, sku: '@Model.Sku' });
        }
        $('#@Html.IdFor(model => model.Sku)').on('input change', function () {
            warningValidation('@Url.Action("SkuReservedWarning")', '@Html.NameFor(model => model.Sku)', { productId: @Model.Id, sku: $(this).val() });
        });
    });
</script>

<div class="panel-body">
    @(Html.LocalizedEditor<ProductModel, ProductLocalizedModel>("product-info-localized",
                                                            @<div>
                                                                <div class="form-group">
                                                                    <div class="col-md-3">
                                                                        <nop-label asp-for="@Model.Locales[item].Name" />
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        <nop-editor asp-for="@Model.Locales[item].Name" />
                                                                        <span asp-validation-for="@Model.Locales[item].Name"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-3">
                                                                        <nop-label asp-for="@Model.Locales[item].ShortDescription" />
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        <nop-textarea asp-for="@Model.Locales[item].ShortDescription" />
                                                                        <span asp-validation-for="@Model.Locales[item].ShortDescription"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-3">
                                                                        <nop-label asp-for="@Model.Locales[item].FullDescription" />
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        <nop-editor asp-for="@Model.Locales[item].FullDescription" asp-template="RichEditor" />
                                                                        <span asp-validation-for="@Model.Locales[item].FullDescription"></span>
                                                                    </div>
                                                                </div>

                                                                <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                                            </div>
                                                                                                                ,@<div>
                                                                                                                    <div class="form-group">
                                                                                                                        <div class="col-md-3">
                                                                                                                            <nop-label asp-for="Name" />
                                                                                                                        </div>
                                                                                                                        <div class="col-md-9">
                                                                                                                            <nop-editor asp-for="Name" asp-required="true" />
                                                                                                                            <span asp-validation-for="Name"></span>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="form-group">
                                                                                                                        <div class="col-md-3">
                                                                                                                            <nop-label asp-for="ShortDescription" />
                                                                                                                        </div>
                                                                                                                        <div class="col-md-9">
                                                                                                                            <nop-textarea asp-for="ShortDescription" />
                                                                                                                            <span asp-validation-for="ShortDescription"></span>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="form-group">
                                                                                                                        <div class="col-md-3">
                                                                                                                            <nop-label asp-for="FullDescription" />
                                                                                                                        </div>
                                                                                                                        <div class="col-md-9">
                                                                                                                            <nop-editor asp-for="FullDescription" asp-template="RichEditor" />
                                                                                                                            <span asp-validation-for="FullDescription"></span>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>))
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Sku" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Sku" />
            <span asp-validation-for="Sku"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="SelectedCategoryIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="SelectedCategoryIds" asp-items="Model.AvailableCategories" asp-multiple="true" />
            <script>
                                $(document).ready(function() {
                                    var categoryIdsInput = $('#@Html.IdFor(model => model.SelectedCategoryIds)').data("kendoMultiSelect");
                                    categoryIdsInput.setOptions({
                                        autoClose: false,
                                        filter: "contains"
                                    });

                                    @if (Model.AvailableCategories.Count == 0)
                            {
                                <text>
                                    categoryIdsInput.setOptions({
                                        enable: false,
                                        placeholder: '@T("Admin.Catalog.Products.Fields.Categories.NoCategoriesAvailable")'
                                    });
                                    categoryIdsInput._placeholder();
                                    categoryIdsInput._enable();
                                    </text>
                            }
                                });
            </script>
        </div>
    </div>
    <div class="form-group @(Model.ProductEditorSettingsModel.Published ? null : "advanced-setting")">
        <div class="col-md-3">
            <nop-label asp-for="Published" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Published" />
            <span asp-validation-for="Published"></span>
        </div>
    </div>
    <div class="form-group @(Model.ProductEditorSettingsModel.ProductTags ? null : "advanced-setting")">
        <div class="col-md-3">
            <nop-label asp-for="ProductTags" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ProductTags" />
            <span asp-validation-for="ProductTags"></span>
        </div>
    </div>
    <div class="form-group @(Model.ProductEditorSettingsModel.ShowOnHomepage ? null : "advanced-setting")" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
        <div class="col-md-3">
            <nop-label asp-for="ShowOnHomepage" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ShowOnHomepage" />
            <span asp-validation-for="ShowOnHomepage"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="ShowOnHomepage">
        <div class="form-group @(Model.ProductEditorSettingsModel.DisplayOrder ? null : "advanced-setting")" id="pnlDisplayOrder" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
            <div class="col-md-3">
                <nop-label asp-for="DisplayOrder" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group @(Model.ProductEditorSettingsModel.Vendor ? null : "advanced-setting")" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
        <div class="col-md-3">
            <nop-label asp-for="VendorId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="VendorId" asp-items="Model.AvailableVendors" />
            <span asp-validation-for="VendorId"></span>
        </div>
    </div>
    <div class="form-group @(Model.ProductEditorSettingsModel.AllowCustomerReviews ? null : "advanced-setting")">
        <div class="col-md-3">
            <nop-label asp-for="AllowCustomerReviews" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AllowCustomerReviews" />
            <span asp-validation-for="AllowCustomerReviews"></span>
        </div>
    </div>
    <div class="form-group @(Model.ProductEditorSettingsModel.AdminComment ? null : "advanced-setting")">
        <div class="col-md-3">
            <nop-label asp-for="AdminComment" />
        </div>
        <div class="col-md-9">
            <nop-textarea asp-for="AdminComment" />
            <span asp-validation-for="AdminComment"></span>
        </div>
    </div>
</div>         
          