@model ProductModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.Calendar").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Products");
}
<form asp-controller="Product" asp-action="Edit" method="post" id="product-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Products.Calendar") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.Products.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <a asp-action="AppointmentSchedule" asp-route-id="@Model.Id" class="btn bg-blue">
                <i class="fa fa-edit"></i>
                @T("Admin.Common.Schedule")
            </a>
            <button type="button" onclick="javascript:OpenWindow('@Url.RouteUrl("Product", new {SeName = Model.SeName})', 800, 600, true); return false;" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                @T("Admin.Common.Preview")
            </button>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div id="booking-calendar">
                <div class="column-left">
                    <div id="nav"></div>
                </div>
                <div class="column-main">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                @T("Product.AppointmentCalendar.TimeSlot")
            </div>
            <div class="col-sm-7">
                <div class="form-text-row" id="fTimeSlot">12:00 - 13:00pm</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                @T("Product.AppointmentCalendar.Status")
            </div>
            <div class="col-sm-7">
                <div class="form-text-row" id="fStatus">Free</div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    var nav = new DayPilot.Navigator("nav");
    nav.selectMode = "week";
    nav.showMonths = 2;
    nav.skipMonths = 1;
    nav.onTimeRangeSelected = function (args) {
        loadEvents(args.start.firstDayOfWeek(), args.start.addDays(7));
    };
    nav.init();

    var calendar = new DayPilot.Calendar("calendar");
    calendar.viewType = "Week";
    calendar.timeRangeSelectedHandling = "Disabled";
    calendar.dayBeginsHour = @Model.ProductScheduleModel.BusinessBeginsHour;
    calendar.dayEndsHour = @Model.ProductScheduleModel.BusinessEndsHour;

    calendar.onEventMoved = function (args) {
        $.post("backend_move.php", JSON.stringify(args), function (data) {
            calendar.message(data.message);
        });
    };

    calendar.onEventResized = function (args) {
        $.post("backend_move.php", JSON.stringify(args), function (data) {
            calendar.message(data.message);
        });
    };

    calendar.onBeforeEventRender = function (args) {
        if (!args.data.tags) {
            return;
        }
        switch (args.data.tags.status) {
            case "Free":
                args.data.barColor = "green";
                break;
            case "Waiting":
                args.data.barColor = "orange";
                args.data.toolTip = "Click to show detail";
                break;
            case "Confirmed":
                args.data.barColor = "#f41616";  // red
                args.data.toolTip = "Click to show detail";
                break;
        }
    };

    calendar.onEventClick = function (args) {
        var params = {
            id: args.e.id(),
        };

        $.ajax({
            url: "@Url.Action("AppointmentEdit", "Product")",
            type: "get",
            data: params,
            cache: false
        })
        .done(function (result) {
            console.log("result =", result);
            DisplaySelectedSlot(result);
        })
        .fail(function (result) {
            // Error
            console.log("fail result =", result);
        });
    };

    calendar.init();

    loadEvents();

    function loadEvents(day) {
        var start = nav.visibleStart();
        var params = {
            start: start.toString(),
            end: nav.visibleEnd().toString(),
            resourceId: @Model.Id
        };
        console.log(addAntiForgeryToken);
        addAntiForgeryToken(params);
        console.log(params);
        $.ajax({
            url: "@Url.Action("AppointmentList", "Product")",
            type: "post",
            data: params,
            cache: false,
        })
        .done(function (result) {
            if (day) {
                calendar.startDate = day;
            }
            calendar.events.list = result;
            calendar.update();

            nav.events.list = result;
            nav.update();
        })
        .fail(function (result) {
            // Error
        });
    }

    function DisplaySelectedSlot(result) {
        if (result.status) {
            $("#fTimeSlot").text(result.data.TimeSlot);
            $("#fStatus").text(result.data.Status);
            $("#appointmentId").val(result.data.Id);
            $("#txtNotes").val(result.data.Notes);
            $("#btnBackToCalendar").show();
            $("#booking-calendar").hide();
            $("#booking-request").show();
            switch (result.data.Status) {
                case 0:
                    $("#btnRequestAppointment").show();
                    $("#btnCancelAppointment").hide();
                    $("#txtNotes").prop("disabled", false);
                    break;
                case 1:
                    $("#btnRequestAppointment").hide();
                    $("#btnCancelAppointment").show();
                    $("#txtNotes").prop("disabled", true);
                    break;
                default:
                    $("#btnRequestAppointment").hide();
                    $("#btnCancelAppointment").hide();
                    $("#txtNotes").prop("disabled", true);
            }
        }
        else {
            // current slot is not available
            $("#btnBackToCalendar").show();
            $("#booking-calendar").hide();
            $("#fTimeSlot").text(result.data);
        }
    }

    function ClearSelectedSlot() {
        $("#selectedTimeBar span").text("");
        $("#btnBackToCalendar").hide();
        $("#booking-calendar").show();
        $("#appointmentId").val("");
        $("#booking-request").hide();
        $("#rs-message").hide();
        $("#rf-message").hide();
        $("#cs-message").hide();
        $("#cf-message").hide();
    }

</script>
